ARGENTINIAN NEWSPAPERS TITLES


<h1> <u>Clarin</u>: <%= @clarin %> </h1> 

<h1> <u>Pagina</u>: <%= @pagina %> </h1>		

<h1> <u>Nacion</u>: <%= @nacion %> </h1>

<h1> <u>Tiempo</u>: <%= @tiempo %> </h1> 